/* color code  */

/* main color ==> #ff6900 */


.sideBar{
    background-color: rgb(235, 236, 236);
    border-right: 1px solid rgb(161, 161, 161);
    box-shadow: 8px 0px 10px -8px rgba(107, 107, 107, 0.5);
}


.widgets{
    display: flex;
    cursor: pointer;
    margin-top: 2.5vw;
}

.texts{
    color: rgb(83, 83, 83);
    font-family: revert;
}

.texts:hover{
    color: #7091ff;
}

.selectedText{
    color: #7091ff;
}

.dashboard{
    background-color: rgb(203, 204, 205);
}

.box-1{
    background: linear-gradient(to right , #f7af7b, rgb(247, 133, 52) , #ff6900 )
}

.box-2{
    background: linear-gradient(to right , rgb(153, 153, 249), rgb(79, 79, 252), blue);
}
.box-3{
    background: linear-gradient(to right ,  rgb(23, 113, 131), rgb(44, 92, 101) , rgb(0, 76, 138));
}

.mainText{
    color: white;
}



.bar-graph {
    display: flex;
    align-items: flex-end;
    height: 300px;
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .bar {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #ccc;
    margin-right: 10px;
    position: relative;
  }
  
  .bar span {
    position: absolute;
    bottom: 5px;
    font-size: 12px;
  }
  
  .left-students {
    background-color: #ff6b6b;
  }
  
  .continued-students {
    background-color: #3bcf9a;
  }
  
.profile{
    display: flex;
}

.mainName{
    margin-left: 10px;
}

@media screen and (max-width : 1125px){
    .profile{
        display: block;
    }
    .profileImg{
        margin-left: 30%;
    }
    .selectedText{
        display: none;
    }
    .texts{
        display: none;
    }
    .logoutbtn{
        float: inline-end;
    }
}

@media screen and (max-width : 800px){
    .mainRow{
        display: block;
    }
    .name{
        margin-left: -20%;
    }
    .shortPart{
        display: block;
        width: 100%;
    }
}


